<% include ../header %>
<link href="/stylesheets//style.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/javascripts/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<link href="/javascripts/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <section  >
          <div  class="row navbar-dark bg-dark text-center">
		   <div  class="col-2  text-success  nav-tabs ">MAKOTO Corporation</div>
		   <ul class="nav nav-tabs col-10 nav-justified">
		    <li class="nav-item"><a href="/company" class="nav-link active " data-toggle="tab">COMPANY</a></li>
		    <li class="nav-item"><a href="#ios" class="nav-link " data-toggle="tab">WORK FLOW</a></li>
		    <li class="nav-item"><a href="#ios" class="nav-link " data-toggle="tab">CONTACT</a></li>
		    <li class="nav-item"><a href="#ios" class="nav-link " data-toggle="tab">RECRUIT</a></li>
		    <li class="nav-item"><a href="#ios" class="nav-link " data-toggle="tab">iOS</a></li>
		    <li class="nav-item"><a href="#BBS" class="nav-link" data-toggle="tab">Android</a></li>
		  </ul>
	   </div>
          <div class="tab-content py-4">
            <div id="ios" class="tab-pane active">
              <p>Hello iOS. Hello iOS. Hello iOS. Hello iOS. Hello iOS. Hello iOS. Hello iOS. Hello iOS. Hello iOS.</p>
            </div>
            <div id="BBS" class="tab-pane">
		<ul>
			<% for (var i=0; i<posts.length; i++) { %>
			<li>
			    <a href="/posts/<%= i %>"><%= posts[i].title %></a>
			    <div class="row">
				    <a href="/posts/<%= i %>/edit"  class="btn btn-primary btn-sm">Edit</a>
				    <form method="post" action="/posts/<%= i %>">
				    <input type="submit" class="btn btn-danger btn-sm offset-md-4" value="del">
				    <input type="hidden" name="_method" value="delete">
				    <input type="hidden" name="id" value="<%= i %>">
				    </form>
			    </div>
			</li>
			<% } %>
		</ul>
		<p><a href="/posts/new">Add new</a></p>
            </div>
          </div>
      </section>
 
<% include ../footer %>
